Требования для выполнения проекта:

ОС:
Kali Linux VM (или любой другой дистрибутив, ядро 5.0+)

ПО:
Python3.12+
Openssl v3.3+
OpenSSH_9.7p1+ (в его составе по умолчанию присутствует ssh-keygen и равен версии OpenSSH)
